<%= provide :title, t(".title") %>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <h2 class="col-md-12"><%= t ".title" %></h2>
    </div>
    <div class="row">
      <%= render "admin/statistic/search", url: admin_best_seller_path %>
    </div>
    <div class="row" id="best_seller">
      <%= render "admin/statistic/best_seller" %>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {"packages":["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
</script>
