$background_nav: #35a6c1;
$background_nav_dropdown: #6CB3C1;
$nav_link: #f5f5f5;
$nav_link_hover: #ff694b;
$nav_link_active: red;
$nav_link_active_background: white;
$background_footer: #117CC1;
$background-facebook: #3B5998;
$background_twitter: #55ACEE;
$panel_branch_hover: #0F1C28;
$content: #0784EE;
