@import "bootstrap-sprockets";
@import "bootstrap";
@import "color";

/*header*/
.navbar {
  margin-bottom: 0;
  background-color: $background_nav;
  border: 0;
  font-size: 15px !important;
  letter-spacing: 2px;
  z-index: 9999;
}

.navbar li a, .navbar .navbar-brand {
  color: $nav_link !important;
}

.navbar-nav li a:hover {
  color: $nav_link_hover !important;
}

.navbar-nav li.active a {
  color: $nav_link_active !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.dropbtn {
  background-color: transparent;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $background_nav_dropdown;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: $background_nav;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*footer*/
footer {
  background-color: $background_footer;
  color: white;
  padding: 32px;
}

.fa {
  padding: 15px;
  font-size: 25px !important;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.fa:hover {
  text-decoration: none;
}

.fa-facebook {
  background: $background-facebook;
}

.fa-twitter {
  background: $background_twitter;
}

.fa-instagram {
  background: red;
}

.list-quick-link{
  list-style: none;
}

.list-quick-link a{
  color: white;
  font-size: 15px;
}

.quick-link {
  float: left;
}

.quick-link li {
  padding: 10px;
  alignment: left;
}

.container-fluid {
  padding: 60px 50px;
}

.container-fluid h4 {
  opacity: 0.9;
}

.logo {
  font-size: 200px;
  color: $content;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.content_about {
  opacity: 0.8;
}
/*branch*/
.panel {
  border: 1px solid $content;
  border-radius:0;
  transition: box-shadow 0.5s;
}

.panel:hover, .fa:hover, #carouselExampleControls:hover, #products .item:hover {
  box-shadow: 5px 0px 40px $panel_branch_hover;
}

.panel-heading {
  color: white !important;
  background-color: $content !important;
  padding: 25px 25px 25px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer {
  background-color: #fff !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: $background_nav;
  color: #fff;
}

/*login*/
#loginbox, #signupbox {
  margin-top:50px;

  .panel-body {
    padding-top:30px;
  }

  .form-group {
    margin-top:10px;
    .col-sm-12 {
      padding-left: 0px !important;
    }
  }

  label {
    margin-bottom: 0px !important;
  }

  input {
    margin-bottom: 15px !important;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

label.required:after{
  content:" *";
  color: red;
}

#book-list {
  .glyphicon { margin-right:5px; }
  .thumbnail
  {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  .item.list-group-item
  {
    float: none;
    width: 100%;
    background-color: #red;
    margin-bottom: 10px;
  }

  .item.list-group-item .list-group-image
  {
    margin-right: 10px;
  }
  .item.list-group-item .thumbnail
  {
    margin-bottom: 0px;
  }
  .item.list-group-item .caption
  {
    padding: 9px 9px 0px 9px;
  }

  .item.list-group-item:before, .item.list-group-item:after
  {
    display: table;
    content: " ";
  }

  .item.list-group-item img
  {
    float: left;
  }
  .item.list-group-item:after
  {
    clear: both;
  }
  .list-group-item-text
  {
    margin: 0 0 11px;
  }
}

#products {
  h4{
    font-weight: bold;
  }

  p{
    font-style: italic;
    opacity: 0.8;
  }

  .label{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
  }

  .thumbnail{
    position: relative;
  }

  .alert-info {
    display: inherit;
    visibility: hidden;
  }

  .alert-danger{
    display: none;
  }

  .alert-info, .alert-danger{
    padding: 6px 15px;
    margin-bottom: 0px;
  }

  .col-md-6 > a {
    float: right;
  }

  .col-md-5 .disabled {
    display: inherit;
  }

  .row{
    margin-right: 0px;
  }
}

#load_more {
 a {
   background: $background_nav;
   padding: 10px;
   color: white;
 }
}

#icon-cart {
  .fa {
    padding: 0px 15px 15px !important;
  }
  .fa:hover {
    box-shadow: initial !important;
  }

  a {
    padding: 0px 10px 0px 0px !important;
  }

  .icon-shopping-cart {
    font-size: 25px;
  }

  #lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-top: 2px;
    border-radius: 50%;
    float: right;
    margin-bottom: -9px;
  }
}

#cart {
  .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
  }
  @media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
      width:20%;
      display: inline !important;
    }
    .actions .btn{
      width:36%;
      margin:1.5em 0;
    }

    .actions .btn-info{
      float:left;
    }
    .actions .btn-danger{
      float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
      content: attr(data-th); font-weight: bold;
      display: inline-block; width: 8rem;
    }
    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}
  }

  .fa {
    padding: 0px;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.active {
  .fa-shopping-cart{
    color:  $nav_link_active;
  }
}

.list-group-item-text{
  padding: 10px 0px;
}
